#error {
  color: red;
}

.verse {
  background: #eef;
  border: 1px solid #ddf;
}

html,
body {
  height: 100%;
  margin: 0px;
}

#controller {
  display: flex;
  padding: 8px;
  gap: 8px;
  height: 100%;
  box-sizing: border-box;
}

#controller .column {
  flex: 1;
  overflow: scroll;
}

.column {
  display: flex;
  flex-direction: column;
}

form.tall {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
}

select {
  flex: 1;
}

#song-list,
#playlist {
  width: 100%;
  height: auto;
}

.preview {
  aspect-ratio: 4/3;
  box-sizing: border-box;
  border: 1px solid red;
}

.slide {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
